<app-header></app-header>

<ion-content [fullscreen]="true">
  <ion-card color="yellow">
    <ion-card-header>
      <ion-card-title>WorkHub</ion-card-title>
      <ion-card-subtitle>$20</ion-card-subtitle>
    </ion-card-header>

    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />

    <ion-card-content>
      Description of the service goes here.
    </ion-card-content>

    <ion-button color="orange" fill="clear"><ion-icon class="big-icon" name="mail"></ion-icon></ion-button>
  </ion-card>
</ion-content>

<app-barfooter></app-barfooter>

