<app-header></app-header>



<ion-content [fullscreen]="true">

  <div *ngIf="isLoadingBusiness||isLoadingProducts" class="ion-align-items-center ion-text-center ion-justify-content-center ion-padding"><ion-spinner name="lines"></ion-spinner></div>



  <div *ngIf="!isLoadingBusiness && !isLoadingProducts">
  <ion-card color="yellow">
    <ion-card-header>
      <ion-card-title><ion-input placeholder="Name of The Company " value="{{business.companyName}}"></ion-input></ion-card-title>
      <ion-card-subtitle><ion-input placeholder="Price of the service" value="${{business.price}}"></ion-input></ion-card-subtitle>
    </ion-card-header>
    <img  [src]="business.image" alt="{{business.companyName}}" />
    <ion-card-content>
        <ion-textarea placeholder="Add a description here" value="{{business.description}}"></ion-textarea>
    </ion-card-content>
    <ion-card-content>
      <ion-textarea placeholder="Add a contact number here" value="{{business.contact}}"></ion-textarea>
    </ion-card-content>
  </ion-card>

  <app-products [products]="products"></app-products>

  <!-- Add Product button -->
  <ion-button class="ion-margin" color="primary" expand="block" (click)="presentAlert()">Add Product</ion-button>

  <!-- save button -->
  <ion-button class="ion-margin" color="orange" expand="block">Publish</ion-button>

  <!-- Button to logout -->
  <ion-button class="ion-margin" expand="block" color="danger" (click)="logout()">Logout</ion-button>
  </div>
</ion-content>

<app-barfooter></app-barfooter>

