<app-header></app-header>

<ion-content [fullscreen]="true">
  <ion-card color="yellow" *ngFor="let item of items" [routerLink]="['/prod-description']">
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />
    <ion-card-header>
      <ion-card-title>{{item.name}}</ion-card-title>
      <ion-card-subtitle>$ {{item.price}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Somos una empresa que conecta empresas con personas.
    </ion-card-content>
  </ion-card>





</ion-content>


<app-barfooter></app-barfooter>
