<app-header></app-header>

<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>


  <div *ngIf="isLoadingBusiness" class="flex justify-center items-center p-5"><ion-spinner name="lines"></ion-spinner></div>
  <div *ngIf="!isLoadingBusiness" class="ion-padding">
    <ion-card color="Primary" *ngFor="let item of items">
      <div (click)="onclickpage(item.companyName)">
      <ion-card-content class="card-content" >
        <img class="" src= {{item.image}} class="centered-image"/>
      </ion-card-content>
      <ion-card-header >
        <ion-card-title>{{item.companyName}}</ion-card-title>
        <ion-card-subtitle>$ {{item.price}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content color="orange">
        {{item.description}}
      </ion-card-content>
      </div>
      <ion-card-content color="orange" class="flex   justify-center" (click)="favoriteAlert(item.companyName)">
        <ion-icon name="star-outline" class="big-icon" ></ion-icon>
      </ion-card-content>
    </ion-card>
  </div>


</ion-content>

<app-barfooter></app-barfooter>
